[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "sparsehash-c11"]
	path = sparsehash-c11
	url = https://github.com/sparsehash/sparsehash-c11.git
[submodule "SFMT"]
	path = SFMT
	url = https://github.com/MersenneTwister-Lab/SFMT.git
[submodule "related_projects/simrank"]
	path = related_projects/simrank
	url = https://github.com/roukaour/simrank.git
[submodule "related_projects/TreeWand"]
	path = related_projects/TreeWand
	url = https://github.com/fastsim2016/TreeWand.git
[submodule "related_projects/LSim"]
	path = related_projects/LSim
	url = https://github.com/fastsim2016/LSim.git
[submodule "related_projects/SimRankLowrank"]
	path = related_projects/SimRankLowrank
	url = https://github.com/amkatrutsa/SimRankLowrank.git
[submodule "armadillo-code"]
	path = armadillo-code
	url = https://github.com/conradsnicta/armadillo-code.git
[submodule "related_projects/ISP"]
	path = related_projects/ISP
	url = https://github.com/fastsim2016/ISP.git
[submodule "related_projects/FastSim"]
	path = related_projects/FastSim
	url = https://github.com/fastsim2016/FastSim.git
