[submodule "related_projects/simrank"]
	path = related_projects/simrank
	url = https://github.com/roukaour/simrank.git
[submodule "related_projects/TreeWand"]
	path = related_projects/TreeWand
	url = https://github.com/fastsim2016/TreeWand.git
[submodule "related_projects/LSim"]
	path = related_projects/LSim
	url = https://github.com/fastsim2016/LSim.git
[submodule "related_projects/SimRankLowrank"]
	path = related_projects/SimRankLowrank
	url = https://github.com/amkatrutsa/SimRankLowrank.git
[submodule "related_projects/ISP"]
	path = related_projects/ISP
	url = https://github.com/fastsim2016/ISP.git
[submodule "related_projects/FastSim"]
	path = related_projects/FastSim
	url = https://github.com/fastsim2016/FastSim.git
[submodule "related_projects/UniWalk"]
	path = related_projects/UniWalk
	url = https://github.com/songjs1993/UniWalk.git
[submodule "dependencies/sparsehash"]
	path = dependencies/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "dependencies/sparsepp"]
	path = dependencies/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "dependencies/SFMT"]
	path = dependencies/SFMT
	url = https://github.com/MersenneTwister-Lab/SFMT.git
